/.cache/
/.direnv/
/build/
/.wine/
__pycache__/
*.pyc
.ruff_cache/
/compile_commands.json

# Third party sources that we derive from the upstream source.
/source/client/Wangreal/lib/freetype-2.2.1/
/source/shared/LuaSystem/Lua/
/source/client/Fresh/third_party/libpng-1.2.8/
/source/client/Fresh/third_party/zlib-1.2.2/
